/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 17, 2015, 4:12:23 PM
    Author     : Santi
*/

body{
    background: #f1f1f1;
}

body,button,input{
    font-family: arial,sans-serif;
    font-size: 13px;
}

body{
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    line-height: 1;
    text-align: start;
}

body>#body-container{
    height: auto;
    min-height: 100%;
}

button,span{
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
}

button{
    text-align: center;
    box-sizing: border-box;
}

button,input{
    margin: 0em;
    font: normal normal normal 13.3333330154419px/normal Arial;
    color: initial;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;  
}

button{
    text-align: center;
    cursor: default;
    color: buttontext;
    padding: 2px 6px 3p;
    border: 2px outset buttonface;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: buttonface;
    box-sizing: border-box;
}

button.yt-uix-button{
    text-decoration: none;
    box-sizing: border-box;
}

div{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    background: transparent;
}

label{
    cursor: default;
}

video{
    object-fit: contain;
}

#appbar-content{
    position: absolute;
    left: 0;
    right: 0;
    height: 40px;
    overflow: hidden;
}

#appbar-guide-button-container{
    position: relative;
    display: inline-block;
}

#appbar-guide-button-notification-check{
    background: #167ac6;
    color: #fff;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal;
    text-overflow: ellipsis;
}

#appbar-guide-button-notification-check{
    height: 25px;
    width: 30px;
    top: 0;
    right: 10px;
    opacity: 0;
    position: absolute;
    text-align: center;
    visibility: hidden;
    transition: opacity .3s,visibility 0 .3s;
}

#appbar-guide-button .yt-uix-button-arrow{
    border-top-color: #b8b8b8;
    margin-left: 2px;
    border-width: 3px 3px 0;
}

#appbar-guide-button .yt-uix-button-arrow{
    margin-top: 0;
}

#appbar-main-guide-notification-container{
    position: absolute;
    top: 41px;
    left: 0;
    z-index: 1;
}

#appbar-onebar-upload-group{
    margin-right: 15px;
}

#appbar-onebar-upload-group #upload-btn{
    padding: 0 13px;
}

#appbar-onebar-upload-group #upload-btn .yt-uix-button-content{
    vertical-align: middle;
}

#body-container{
    padding-bottom: 191px;
    box-sizing: border-box;
}

#masthead-appbar{
    position: relative;
    background-color: #fff;
    border-bottom: 1px solid #e8e8e8;
    height: 40px;
    line-height: 40px;
}

#masthead-appbar-container{
    overflow: hidden;
}

#masthead-positioner{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1999999999;
    transform: translateZ(0);
}

#masthead-positioner:hover #appbar-guide-button{
    border-color: #d3d3d3;
    background: #f8f8f8;
}

#masthead-positioner:hover #appbar-guide-button .yt-uix-button-arrow{
    border-top-color: #666;
}

#masthead-search{
    position: relative;
    padding: 0;
    margin-top: 3px;
    overflow: hidden;
    max-width: 650px;
}

#masthead-search .consolidated-from input{
    outline: none;
    height: 100%;
}

#masthead-search .search-btn-componet .yt-uix-button-content{
    display: block;
    border: none;
    padding: 0;
    opacity: .6;
    text-indent: -10000px;
    background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflZjw0oc.webp) -155px -172px;
    background-size: auto;
    width: 14px;
    height: 14px;
    box-shadow: none;
}

#masthead-search-terms{
    position: relative;
    overflow: hidden;
    height: 29px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
    line-height: 30px;
    background-color: #fff;
    box-sizing: border-box;
    -webkit-transition: border-color .2s ease;
    transition: border-color .2s ease;
    width: 585;
}

#masthead-search label{
    height: 100%;
    line-height: 30px;
    padding: 0;
    border: none;
    overflow: hidden;
}

#masthead-search-terms label{
    display: block;
}

#masthead-search-terms input{
    display: inline-block;
    width: 100%;
    padding: 2px 6px;
    margin: 0;
    border: 0;
    outline: none;
    background: transparent;
    font-size: 16px;
    position: absolute;
    left: 0;
    zoom: 1;
    box-sizing: border-box;
}

#player{
    margin: 10px auto 0;
    color: #fff;
    zoom: 1;
    transition: background-color .3s ease-in-out,background-image .3s ease-in-out;
}

#theater-background{
    position: absolute;
    left: 0;
    width: 100%;
    background-color: transparent;
    -moz-transition: background-color .3s ease;
    -webkit-transition: background-color .3s ease;
    transition: background-color .3s ease;
}

#yt-masthead{
    margin: 0 auto;
}

#yt-masthead #search-btn{
    padding: 0;
}

#yt-masthead #search-btn .yt-uix-button-content{
    margin: 0 25px;
}

#yt-masthead .search-btn-componet{
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#yt-masthead .search-btn-componet{
    float: right;
    padding: 0 .91cm;
    opacity: 1;
    filter :none;
}

#yt-masthead .search-btn-componet{
    height: 29px;
}


#yt-masthead-container{
    position: relative;
    min-width: 0;
    background: #fff;
    border-bottom: 1px solid #e8e8e8;
    padding-top: 7px;
    padding-bottom: 8px;    
}

#yt-masthead-signin{
    float: right;
    margin-top: 3px;
    margin-left: 25px;
}

#yt-masthead-user{
    float: right;
    margin-left: 50px;
    margin-top: 3px;
    color: #555;
}

#yt-masthead-user #sb-button-notify{
    margin: 0 10px 0 5px;
    width: 32px;
    text-align: center;
    border: none;
    position: relative;
    background: none;
    box-shadow: none;

}

#yt-masthead-user .sb-notif-off .yt-uix-button-content{
    display: none;
}

#yt-masthead-user .yt-uix-button-icon-bell{
    position: absolute;
    left: 0;
    top: -2px;
    background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflZjw0oc.webp) -85px -191px;
    background-size: auto;
    width: 30px;
    height: 30px;
    opacity: .55; 
}

#yt-masthead-content{
    overflow: hidden;
}

#yt-masthead #logo{
    background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflZjw0oc.webp) -207px -66px;
    background-size: auto;
    width: 72px;
    height: 30px;
}

#yt-masthead #logo-container span.content-region{
    position: relative;
    top: -19px;
    left: 2px;
    color: #777;
    font-size: 11px;
    text-decoration: none;
    font-weight: normal;
}

#yt-masthead .yt-masthead-logo-container{
    float: left;
    position: relative;
    margin-top: 2px;
    width: 200px;
}

#yt-masthead .yt-masthead-logo-container #logo-container{
    display: inline-block;
    vertical-align: middle;
}

.appbar-guide-notification-icon{
    background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflZjw0oc.webp) -157px -334px;
    background-size: auto;
    width: 12px;
    height: 10px;
}

.appbar-hidden #masthead-appbar{
    margin-top: -41px;
}

.appbar-hidden #masthead-positioner-height-offset{
    height: 50px;
}

.clearfix{

}

.clearfix:before{
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
}

.clearfix:after{
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.countdowntimer{
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    z-index: 821;
}

.hid{
    display: none;
}

.html5-main-video{
    z-index: 799;
}

.html5-main-video, .html5-video-content{
    position: absolute;
    width: 100%;
    height: 100%;
    outline: 0; 
}



.html5-player-chrome{
    position: relative;
    direction: ltr;
    width: 100%;
    overflow: hidden;
    height: 27px;
    z-index: 750;
    background: #1b1b1b;
}

.html5-progress-bar{
    overflow: visible;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 931;
    outline: none;
}

.html5-scrubber-button{
    border: 5px solid #eaeaea;
    background: #aeaeae;
    height: 6px;
    width: 6px;
    z-index: 941;
    top: -4px;
    position: absolute;
    cursor: pointer;
    margin-left: -8px;
    border-radius: 8px;
    -moz-transform: translateY(0px) scale(1,1);
    -ms-transform: translateY(0px) scale(1,1);
    -webkit-transform: translateY(0px) scale(1,1);
    transform: translateY(0px) scale(1,1);
    -moz-transition: -moz-transform .1s ease-out;
    -webkit-transition: -webkit-transform .1s ease-out;
    -ms-transition: -ms-transform .1s ease-out;
    transition: transform .1s ease-out;
}

.html5-storyboard{
    display: block;
    position: absolute;
    left: 0;
    bottom: 100%;
    width: 100%;
    height: 400px;
    overflow-x: hidden;
    background-image: -moz-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0.75) 25%);
    background-image: -ms-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0.75) 25%);
    background-image: -o-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0.75) 25%);
    background-image: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0.75) 25%);
    background-image: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,0.75) 25%);
}

.html5-video-content .video-annotation{
    display: block;
    position: absolute;
    z-index: 820;
    width: 100%;
}

.html5-video-player .video-annotation{
    display: none;
}

.html5-video-container{
    
}

.html5-video-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 35px;
}

.html5-video-container{
    background: #000 no-repeat scroll center center;
    z-index: 900;
}

.html5-video-controls{
    -moz-transition: opacity .25s cubic-bezier(0.0,0.0,0.2,1);
    -webkit-transition: opacity .25s cubic-bezier(0.0,0.0,0.2,1);
    transition: opacity .25s cubic-bezier(0.0,0.0,0.2,1);
}

.html5-video-controls{
    position: absolute;
    width: 100%;
    bottom: 0;
}

.html5-video-controls{
    z-index: 940;
}

.html5-video-info-panel{
    position: absolute;
    display: none;
    top: 10px;
    left: 10px;
    background: #1b1b1b;
    color: #fff;
    z-index: 960;
}

.html5-video-player{
    position: relative;
    width: 100%;
    height: 100%;
    font-family: Arial,Helvetica,sans-serif;
    color: #fff;
    background-color: #000;
    overflow: hidden;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.html5-video-player .video-stream{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
}

.masthead-search-terms-border{
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 2px #eee;
}

.player-height{
    height: 390px;
}

.player-api{
    overflow: hidden;
    background: #000;
}

.player-unavailable{
    position: relative;
    text-align: left;
    font-size: 13px;
    line-height: 1.2;
    background: #262626;
    background-image: -moz-linear-gradient(top,#383838 0,#131313 100%);
    background-image: -ms-linear-gradient(top,#383838 0,#131313 100%);
    background-image: -o-linear-gradient(top,#383838 0,#131313 100%);
    background-image: -webkit-linear-gradient(top,#383838 0,#131313 100%);
    background-image: linear-gradient(to bottom,#383838 0,#131313 100%);
}

.player-unavailable .content{
    position: absolute;
    top: 25px;
    left: 25px;
    bottom: 50px;
    right: 25px;
}

.player-width{
    width: 640px;
}

.watch-main-col{
    float: left;
    clear: left;
    width: 640px;
}

.watch.watch-non-stage-mode #player.content-alignment{
    width: auto;
    min-height: 1003px;
    max-width: 1066px;
}

.yt-base-gutter{
    padding-left: 30px;
    padding-right: 30px;
}


.yt-sprite{
    display: inline-block;
}

.yt-uix-button{
    display: inline-block;
    height: 28px;
    border: solid 1px transparent;
    padding: 0 10px;
    outline: 0;
    font-weight: bold;
    font-size: 11px;
    text-decoration: none;
    white-space: nowrap;
    word-wrap: normal;
    line-height: normal;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.05);
}

.yt-uix-button .yt-uix-button-arrow, .yt-uix-button .yt-uix-button-icon{
    display: inline-block;
    vertical-align: middle;
}

.yt-uix-button-default{
    border-color: #d3d3d3;
    background: #f8f8f8;
    color: #333;
}

.yt-uix-button-empty .yt-uix-button-icon-wrapper{
    max-height: none;
    max-width: none;
}

.yt-uix-button-empty .yt-uix-button-icon-wrapper{
    margin-right: 0;
}

.yt-uix-button-has-icon:before{
    content: '';
    display: inline-block;
    vertical-align: middle;
}

.yt-uix-button-icon-appbar-guide{
    background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflZjw0oc.webp) -62px -46px;
    background-size: auto;
    width: 16px;
    height: 16px;
}

.yt-uix-button-icon-wrapper{
    display: inline-block;
    font-size: 0;
    vertical-align: middle;
}

.yt-uix-button-icon-wrapper{
    margin-right: 6px;
}

.yt-uix-button-icon-wrapper+.yt-uix-button-content{
    vertical-align: middle;
}

.yt-uix-button-primary{
    border-color: #167ac6;
    background: #167ac6;
    color: #fff;
}

.yt-uix-button-text{
    border: solid 1px transparent;
    outline: 0;
    background: none;
    color: #333;
    box-shadow: none;
}



.yt-valign{
    white-space: nowrap;
}

.yt-valign:before{
    content: '';
    height: 100%;
}

.yt-valign:before{
    vertical-align: middle;
    display: inline-block;
}

.ytp-force-transform{
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.ytp-menu-container{
    background-color: rgba(0,0,0,0);
    bottom: 27px;
    position: absolute;
    right: 10px;
    z-index: 800;
    outline: none;
}

.ytp-player-content{
    display: none;
}

.ytp-player-content{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 35px;
    -moz-transition: top .25s cubic-bezier(0.0,0.0,0.2,1),bottom .25s cubic-bezier(0.0,0.0,0.2,1);
    -webkit-transition: top .25s cubic-bezier(0.0,0.0,0.2,1),bottom .25s cubic-bezier(0.0,0.0,0.2,1);
    transition: top .25s cubic-bezier(0.0,0.0,0.2,1),bottom .25s cubic-bezier(0.0,0.0,0.2,1);
}

.ytp-progress-bar-container{
    display: block;
    position: relative;
    width: 100%;
    z-index: 840;
}

.ytp-progress-bar-padding{
    position: absolute;
    width: 100%;
    height: 4px;
    top: -4px;
    z-index: 928;
}

.ytp-progress-list{
    position: absolute;
    bottom: 0;
    width: 100%;
    -moz-transform: scaley(1);
    -ms-transform: scaley(1);
    -webkit-transform: scaley(1);
    transform: scaley(1);
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -moz-transition: -moz-transform .1s ease-out,background .15s;
    -webkit-transition: -webkit-transform .1s ease-out,background .15s;
    -ms-transition: -ms-transform .1s ease-out,background .15s;
    transition: transform .1s ease-out,background .15s;
}

.ytp-progress-list{
    z-index: 938;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAAAAADhZOFXAAAABGdBT…JJREFUCNdjEAUCWSBggDOUgEAKCBAMaSAQBgJUhgoQwBkA75AG2d7wpxsAAAAASUVORK5CYII=);
    height: 100%;
}

.ytp-scrubber-pull-indicator{
    display: block;
    position: absolute;
    z-index: 940;
    left: 3px;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.ytp-scrubber-pull-indicator::before{
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.ytp-scrubber-pull-indicator::before{
    display: block;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    opacity: 0;
    width: 6px;
    height: 6px;
    border-style: solid;
    border-width: 2px 0 0 2px;
    border-color: #eaeaea;
}

.ytp-scrubber-pull-indicator::after{
    display: block;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    opacity: 0;
    width: 6px;
    height: 6px;
    border-style: solid;
    border-width: 2px 0 0 2px;
    border-color: #eaeaea;
    -moz-transition: all .1s;
    -webkit-transition: all .1s;
    transition: all .1s;
}

.ytp-unloaded-progress{
    z-index: 932;
    background: #444;
}

.ytp-unloaded-progress{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}