/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 17, 2015, 4:12:23 PM
    Author     : Santi
*/


a{
    cursor: pointer;
    color: #167ac6;
    text-decoration: none;
}

a{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    background: transparent;
}

a.yt-uix-button{
    text-decoration: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background: #f1f1f1;
}

body,button,input{
    font-family: arial,sans-serif;
    font-size: 13px;
}

body{
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    line-height: 1;
    text-align: start;
}

body {
    display: block;
    margin: 8px;
}


body>#body-container{
    height: auto;
    min-height: 100%;
}

body #footer-container{
/*    margin-top: -141px;*/
    background-color: #fff;
    border-top: 1px solid #e2e2e2;
}

button,span{
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
}

button{
    text-align: center;
    box-sizing: border-box;
}

button,input{
    margin: 0em;
    font: normal normal normal 13.3333330154419px/normal Arial;
    color: initial;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;  
}

button{
    text-align: center;
    cursor: default;
    color: buttontext;
    padding: 2px 6px 3p;
    border: 2px outset buttonface;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: buttonface;
    box-sizing: border-box;
}

button.yt-uix-button{
    text-decoration: none;
    box-sizing: border-box;
}

div,ul,li{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    background: transparent;
}

h1{
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

h1.yt{
    font-size: 24px;
    font-weight: normal;
}

h1.yt{
    margin-top: 0;
    margin-bottom: 13px;
    color: #222;
}

img[Attributes Style] {
    width: 120px;
    height: 90px;
}

label{
    cursor: default;
}

li{
    display: list-item;
    text-align: -webkit-match-parent;
}

li{
    list-style: none;
}

p{
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

strong{
    font-weight: bold;
}


ul{
    list-style: none;
}

ul{
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

video{
    object-fit: contain;
}

#action-panel-details a {
    color: #333;
}

#action-panel-overflow-button:before, action-panel-trigger-overflow:before{
    background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflZjw0oc.webp) -529px -242px;
    background-size: auto;
    width: 20px;
    height: 20px;
}

#appbar-content{
    position: absolute;
    left: 0;
    right: 0;
    height: 40px;
    overflow: hidden;
}

#appbar-guide-button-container{
    position: relative;
    display: inline-block;
}

#appbar-guide-button-notification-check{
    background: #167ac6;
    color: #fff;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal;
    text-overflow: ellipsis;
}

#appbar-guide-button-notification-check{
    height: 25px;
    width: 30px;
    top: 0;
    right: 10px;
    opacity: 0;
    position: absolute;
    text-align: center;
    visibility: hidden;
    transition: opacity .3s,visibility 0 .3s;
}

#appbar-guide-button .yt-uix-button-arrow{
    border-top-color: #b8b8b8;
    margin-left: 2px;
    border-width: 3px 3px 0;
}

#appbar-guide-button .yt-uix-button-arrow{
    margin-top: 0;
}

#appbar-main-guide-notification-container{
    position: absolute;
    top: 41px;
    left: 0;
    z-index: 1;
}

#appbar-onebar-upload-group{
    margin-right: 15px;
}

#appbar-onebar-upload-group #upload-btn{
    padding: 0 13px;
}

#appbar-onebar-upload-group #upload-btn .yt-uix-button-content{
    vertical-align: middle;
}

#body-container{
    padding-bottom: 191px;
    box-sizing: border-box;
}

#footer{
    margin: 0 auto;
    padding: 15px 0;
}

#footer #google-help{
    display: inline-block;
}

#footer .pickers{
    display: inline-block;
}

#footer .footer-history{
    margin-right: 14px;
}

#footer .yt-uix-button-icon-footer-language {
    background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflZjw0oc.webp) -105px -172px;
    background-size: auto;
    width: 25px;
    height: 15px;
}

#footer-links{
    padding: 15px 0 15px 8px;
}

#footer-logo{
    margin-right: 14px;
}

#footer-logo{
    margin-left: 4px;
}

#footer-logo{
    display: inline-block;
}

#footer-logo .footer-logo-icon {
    vertical-align: middle;
    background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflZjw0oc.webp) -207px -66px;
    background-size: auto;
    width: 72px;
    height: 30px;
}

#footer .yt-uix-button-group .yt-uix-button{
    border-radius: 2px;
}

#footer-main{
    border-bottom: 1px solid #e2e2e2;
    margin-right: 45px;
    padding-bottom: 15px;
    padding-left: 4px;
}


#masthead-appbar{
    position: relative;
    background-color: #fff;
    border-bottom: 1px solid #e8e8e8;
    height: 40px;
    line-height: 40px;
}

#masthead-appbar-container{
    overflow: hidden;
}

#masthead-positioner{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1999999999;
    transform: translateZ(0);
}

#masthead-positioner:hover #appbar-guide-button{
    border-color: #d3d3d3;
    background: #f8f8f8;
}

#masthead-positioner:hover #appbar-guide-button .yt-uix-button-arrow{
    border-top-color: #666;
}

#masthead-search{
    position: relative;
    padding: 0;
    margin-top: 3px;
    overflow: hidden;
    max-width: 650px;
}

#masthead-search .consolidated-from input{
    outline: none;
    height: 100%;
}

#masthead-search .search-btn-componet .yt-uix-button-content{
    display: block;
    border: none;
    padding: 0;
    opacity: .6;
    text-indent: -10000px;
    background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflZjw0oc.webp) -155px -172px;
    background-size: auto;
    width: 14px;
    height: 14px;
    box-shadow: none;
}

#masthead-search-terms{
    position: relative;
    overflow: hidden;
    height: 29px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
    line-height: 30px;
    background-color: #fff;
    box-sizing: border-box;
    -webkit-transition: border-color .2s ease;
    transition: border-color .2s ease;
    width: 585;
}

#masthead-search label{
    height: 100%;
    line-height: 30px;
    padding: 0;
    border: none;
    overflow: hidden;
}

#masthead-search-terms label{
    display: block;
}

#masthead-search-terms input{
    display: inline-block;
    width: 100%;
    padding: 2px 6px;
    margin: 0;
    border: 0;
    outline: none;
    background: transparent;
    font-size: 16px;
    position: absolute;
    left: 0;
    zoom: 1;
    box-sizing: border-box;
}

#player{
    margin: 10px auto 0;
    color: #fff;
    zoom: 1;
    transition: background-color .3s ease-in-out,background-image .3s ease-in-out;
}

#theater-background{
    position: absolute;
    left: 0;
    width: 100%;
    background-color: transparent;
    -moz-transition: background-color .3s ease;
    -webkit-transition: background-color .3s ease;
    transition: background-color .3s ease;
}

#watch-description{
    position: relative;
    z-index: 1;
    overflow: hidden;
    line-height: 17px;
    color: #333;
}

#watch-description-extras{
    margin-top: 50px;
}

#watch-channel-brand-div{
    position: relative;
    text-align: center;
    margin-left: 10px;
    max-height: 265px;
    width: 300px;
}

#watch-channel-brand-div-text{
    display: none;
    position: absolute;
    top: -10px;
    height: 10px;
    text-align: center;
    line-height: 10px;
    font-size: 10px;
    color: #777;
    width: 300px;
}

#watch-header{
    padding-bottom: 5px;
}

#watch-header .yt-user-info{
    margin-left: 58px;
    white-space: nowrap;
    width: 380px;
}

#watch-header .yt-user-info a{
    display: inline-block;
    height: 22px;
    color: #333;
    font-weight: bold;
    max-width: 315px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
}

#watch-header .yt-user-photo{
    float: left;
}

#watch-like:before{
    background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflZjw0oc.webp) -498px -125px;
    background-size: auto;
    width: 20px;
    height: 20px;
}

#watch7-content{
    width: 640px;
    z-index: 0;
}

#watch7-headline h1{
    line-height: normal;
    overflow: hidden;
}

#watch7-headline h1 .long-title{
    font-size: .9em;
    letter-spacing: -0.03em;
}

#watch-headline-title{
    display: table;
    margin-bottom: 10px;
    width: 100%;
}

#watch-dislike:before{
    background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflZjw0oc.webp) -85px -285px;
    background-size: auto;
    width: 20px;
    height: 20px;
    padding-bottom: 1px;
}

#watch-like-dislike-button .yt-uix-button{
    margin-right: 0;
    padding-right: 0;
}

#watch7-main{
    position: relative;
    margin-top: 0;
    margin-bottom: 30px;
}

#watch7-preview{
    position: relative;
    margin-top: -390px;
    z-index: 1000;
}

#watch7-sidebar{
    position: relative;
    margin-top: -390px;
    margin-left: 650px;
    margin-bottom: 20px;
    -moz-transition: margin-top .3s ease-in-out,padding-top .3s ease-in-out;
    -webkit-transition: margin-top .3s ease-in-out,padding-top .3s ease-in-out;
    transition: margin-top .3s ease-in-out,padding-top .3s ease-in-out;
}

#watch7-sidebar .video-list-item:hover .title {
    color: #167ac6;
    text-decoration: none;
}


#watch7-sidebar .video-list-item a:hover .title{
    color: #167ac6;
}


#watch7-sidebar .video-list-item a:hover:visited .title{
    color: #036;
}

#watch7-sidebar .video-list-item a:visited .title{
    color: #333;
}

#watch7-sidebar .watch-sidebar-section:last-child{
    margin-bottom: 0;
}

#watch7-sidebar .watch-sidebar-section{
    position: relative;
    z-index: 2;
    margin: 0 0 15px 5px;
}

#watch7-sidebar-contents{
    padding-left: 5px;
    min-height: 390px;
    margin-top: 0;
}

#watch7-subscription-container{
    margin-left: 10px;
}

#watch7-user-header{
    position: relative;
    padding-bottom: 10px;
    overflow: hidden;
}

#watch7-views-info{
    position: absolute;
    bottom: 33px;
    right: 0;
    min-width: 160px;
    max-width: 220px;
}

#watch8-action-button{
    position: relative;
    padding-top: 5px;
    border-top: 1px solid #e2e2e2;
    height: 30px;
}

#watch8-action-button .yt-uix-button{
    background: none;
    border: none;
}

#watch8-secondary-actions{
    position: absolute;
    left: -10px;
}

#watch8-sentiment-actions{
    float: right;
}

#yt-masthead{
    margin: 0 auto;
}

#yt-masthead #search-btn{
    padding: 0;
}

#yt-masthead #search-btn .yt-uix-button-content{
    margin: 0 25px;
}

#yt-masthead .search-btn-componet{
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#yt-masthead .search-btn-componet{
    float: right;
    padding: 0 .91cm;
    opacity: 1;
    filter :none;
}

#yt-masthead .search-btn-componet{
    height: 29px;
}


#yt-masthead-container{
    position: relative;
    min-width: 0;
    background: #fff;
    border-bottom: 1px solid #e8e8e8;
    padding-top: 7px;
    padding-bottom: 8px;    
}

#yt-masthead-signin{
    float: right;
    margin-top: 3px;
    margin-left: 25px;
}

#yt-masthead-user{
    float: right;
    margin-left: 50px;
    margin-top: 3px;
    color: #555;
}

#yt-masthead-user #sb-button-notify{
    margin: 0 10px 0 5px;
    width: 32px;
    text-align: center;
    border: none;
    position: relative;
    background: none;
    box-shadow: none;

}

#yt-masthead-user .sb-notif-off .yt-uix-button-content{
    display: none;
}

#yt-masthead-user .yt-uix-button-icon-bell{
    position: absolute;
    left: 0;
    top: -2px;
    background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflZjw0oc.webp) -85px -191px;
    background-size: auto;
    width: 30px;
    height: 30px;
    opacity: .55; 
}

#yt-masthead-content{
    overflow: hidden;
}

#yt-masthead #logo{
    background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflZjw0oc.webp) -207px -66px;
    background-size: auto;
    width: 72px;
    height: 30px;
}

#yt-masthead #logo-container span.content-region{
    position: relative;
    top: -19px;
    left: 2px;
    color: #777;
    font-size: 11px;
    text-decoration: none;
    font-weight: normal;
}

#yt-masthead .yt-masthead-logo-container{
    float: left;
    position: relative;
    margin-top: 2px;
    width: 200px;
}

#yt-masthead .yt-masthead-logo-container #logo-container{
    display: inline-block;
    vertical-align: middle;
}

.addto-button:before{
    background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflZjw0oc.webp) -85px -45px;
    background-size: auto;
    width: 20px;
    height: 20px;
}

.accessible-description{
    display: none;
}

.action-panel-loading{
    color: #666;
}

.action-panel-loading{
    padding: 20px;
    text-align: center;
}

.action-panel-trigger-share:before{
    background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflZjw0oc.webp) -375px 0;
    background-size: auto;
    width: 20px;
    height: 20px;
}

.addto-button:before {
    background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflZjw0oc.webp) -85px -45px;
    background-size: auto;
    width: 20px;
    height: 20px;
}

.addto-watch-later-button-sign-in{
    width: 22px;
    height: 22px;
    padding: 0;
    border-radius: 2px;
}

.addto-watch-later-button-sign-in .yt-uix-button-arrow{
    display: none;
}

.addto-watch-later-button:before, .addto-watch-later-button-sign-in:before {
    background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflZjw0oc.webp) -220px -244px;
    background-size: auto;
    width: 13px;
    height: 13px;
}

.appbar-guide-notification-icon{
    background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflZjw0oc.webp) -157px -334px;
    background-size: auto;
    width: 12px;
    height: 10px;
}

.appbar-hidden #masthead-appbar{
    margin-top: -41px;
}

.appbar-hidden #masthead-positioner-height-offset{
    height: 50px;
}

.Caa{
    left: 54px;
    position: absolute;
    top: 17px;
}

.clearfix{

}

.clearfix:before{
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
}

.clearfix:after{
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.comments-iframe-container{
    margin-left: -2px;
}

.content-alignment{
    width: 1003px;
    margin-left: auto;
    margin-right: auto;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.countdowntimer{
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    z-index: 821;
}

.DJa{
    background-color: #fff;
    border: none;
    border-bottom: 0;
    border-top: 0;
    color: #666;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: normal;
    padding: 0 0 0 0;
    position: relative;
    text-transform: uppercase;
}

.E5{
    cursor: pointer;
    height: 35px;
    color: #aaa;
}

.E5{
    padding: 5px 10px;
}

.E5{
   background-color: #fff;
    border: 1px solid #ddd;
    border-top: 1px solid #d5d5d5;
    margin-left: 65px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: none;
    box-shadow: none; 
}

.hid{
    display: none;
}

.html5-main-video{
    z-index: 799;
}

.html5-main-video, .html5-video-content{
    position: absolute;
    width: 100%;
    height: 100%;
    outline: 0; 
}



.html5-player-chrome{
    position: relative;
    direction: ltr;
    width: 100%;
    overflow: hidden;
    height: 27px;
    z-index: 750;
    background: #1b1b1b;
}

.html5-progress-bar{
    overflow: visible;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 931;
    outline: none;
}

.html5-scrubber-button{
    border: 5px solid #eaeaea;
    background: #aeaeae;
    height: 6px;
    width: 6px;
    z-index: 941;
    top: -4px;
    position: absolute;
    cursor: pointer;
    margin-left: -8px;
    border-radius: 8px;
    -moz-transform: translateY(0px) scale(1,1);
    -ms-transform: translateY(0px) scale(1,1);
    -webkit-transform: translateY(0px) scale(1,1);
    transform: translateY(0px) scale(1,1);
    -moz-transition: -moz-transform .1s ease-out;
    -webkit-transition: -webkit-transform .1s ease-out;
    -ms-transition: -ms-transform .1s ease-out;
    transition: transform .1s ease-out;
}

.html5-storyboard{
    display: block;
    position: absolute;
    left: 0;
    bottom: 100%;
    width: 100%;
    height: 400px;
    overflow-x: hidden;
    background-image: -moz-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0.75) 25%);
    background-image: -ms-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0.75) 25%);
    background-image: -o-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0.75) 25%);
    background-image: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0.75) 25%);
    background-image: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,0.75) 25%);
}

.html5-video-content .video-annotation{
    display: block;
    position: absolute;
    z-index: 820;
    width: 100%;
}

.html5-video-player .video-annotation{
    display: none;
}

.html5-video-container{
    
}

.html5-video-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 35px;
}

.html5-video-container{
    background: #000 no-repeat scroll center center;
    z-index: 900;
}

.html5-video-controls{
    -moz-transition: opacity .25s cubic-bezier(0.0,0.0,0.2,1);
    -webkit-transition: opacity .25s cubic-bezier(0.0,0.0,0.2,1);
    transition: opacity .25s cubic-bezier(0.0,0.0,0.2,1);
}

.html5-video-controls{
    position: absolute;
    width: 100%;
    bottom: 0;
}

.html5-video-controls{
    z-index: 940;
}

.html5-video-info-panel{
    position: absolute;
    display: none;
    top: 10px;
    left: 10px;
    background: #1b1b1b;
    color: #fff;
    z-index: 960;
}

.html5-video-player{
    position: relative;
    width: 100%;
    height: 100%;
    font-family: Arial,Helvetica,sans-serif;
    color: #fff;
    background-color: #000;
    overflow: hidden;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.html5-video-player .video-stream{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
}

.Jea{
    border: 6px solid #d5d5d5;
    left: 0;
    top: 0;
}

.masthead-search-terms-border{
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 2px #eee;
}

.Mga, Jea{
    border-bottom-color: transparent;
    border-left-color: transparent;
    position: absolute;
}

.Mga{
    border: 7px solid #fff;
    left: 2px;
    top: 1px;
    z-index: 1;
}

.mj{
    background-color: #fff;
    padding: 17px 0 20px 0;
    position: relative;
    z-index: 4;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.mj .we{
    -webkit-border-radius: 0;
    border-radius: 0;
}

.Oga{
    padding-top:2px;
    display: block;
}

.page-loaded .yt-base-gutter{
    -moz-transition: padding 0s ease-in-out;
}

.player-height{
    height: 390px;
}

.player-api{
    overflow: hidden;
    background: #000;
}

.player-unavailable{
    position: relative;
    text-align: left;
    font-size: 13px;
    line-height: 1.2;
    background: #262626;
    background-image: -moz-linear-gradient(top,#383838 0,#131313 100%);
    background-image: -ms-linear-gradient(top,#383838 0,#131313 100%);
    background-image: -o-linear-gradient(top,#383838 0,#131313 100%);
    background-image: -webkit-linear-gradient(top,#383838 0,#131313 100%);
    background-image: linear-gradient(to bottom,#383838 0,#131313 100%);
}

.player-unavailable .content{
    position: absolute;
    top: 25px;
    left: 25px;
    bottom: 50px;
    right: 25px;
}

.player-width{
    width: 640px;
}

.position-DJa{
    margin-left: 15px;
    margin-top: 20px;
}

.position-Mza{
    margin-left: 15px;
    margin-top: 5px;
    height: 84px;
}

.related-list-item .content-wrapper{
    margin-left: 133px;
}

.related-list-item .thumb-wrapper{
    position: absolute;
    top: 0;
    margin: 0 5px;
    width: 120px;
    height: 68px;
    overflow: hidden;
}

.related-list-item .thumb-wrapper a{
    padding: 0;
}

.related-list-item .video-action{
    position: absolute;
    right: -60px;
    bottom: 2px;
}

.subscribe-label, .subscribed-label,.unsubscribe-label{
    display: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.video-list-item{
    position: relative;
    margin-bottom: 15px;
}

.video-list-item a{
    position: relative;
    padding: 0 5px;
    display: block;
    overflow: hidden;
    color: #333;
    zoom: 1; 
}

.video-list-item .content-link{
    display: block;
    min-height: 68px;
    text-decoration: none;
}

.video-list-item .content-wrapper a{
    padding: 0;
}

.video-list-item .stat{
    color: #777;
    font-size: 11px;
}

.video-list-item .stat{
    display: block;
    font-size: .9166em;
    color: #666;
    line-height: 1.4em;
    height: 1.4em;
    white-space: nowrap;
}

.video-list-item .title {
    display: block;
    font-size: 1.0833em;
    font-weight: normal;
    line-height: 1.2;
    color: #03c;
    max-height: 2.4em;
    margin-bottom: 2px;
    overflow: hidden;
    cursor: pointer;
    cursor: hand;
}

.video-list-item .yt-uix-simple-thumb-wrap{
    float: left;
    margin: 0 8px 0 0;
}

.video-list .video-list-item .title {
    color: #333;
    font-size: 13px;
    font-weight: bold;
}

.video-list-item a:visited .title {
    color: #408;
}

.video-list-item a:hover .title {
    text-decoration: underline;
}

.video-list-item .yt-pl-thumb{
    float: left;
    margin: 0 8px 0 0;
}

.video-thumb{
    position: relative;
}

.video-extras-sparkbars{
    height: 2px;
    overflow: hidden;
}

.video-extras-sparkbars{
    height: 2px;
    overflow: hidden;
}

.video-extras-sparkbar-dislikes{
    float: left;
    height: 2px;
    background: #ccc;
}

.video-extras-sparkbar-likes{
    float: left;
    height: 2px;
    background: #167ac6;
}

.watch #content.content-alignment{
    width: auto;
    min-width: 1003px;
    max-width: 1066px;
}

.watch-main-col{
    float: left;
    clear: left;
    width: 640px;
}

.watch-meta-item{
    clear: both;
}

.watch-sidebar-gutter{
    padding-left: 10px;
    padding-right: 10px;
}

.watch-time-text{
    vertical-align: middle;
}

.watch-title-container{
    display: table-cell;
    vertical-align: top;
}

.watch.watch-non-stage-mode #player.content-alignment{
    width: auto;
    min-width: 1003px;
    max-width: 1066px;
}

.watch-view-count{
    font-size: 19px;
    line-height: 24px;
    position: absolute;
    bottom: 6px;
    right: 0;
    color: #666;
}

.Wva{
    float: left;
}


.yt-base-gutter{
    padding-left: 30px;
    padding-right: 30px;
}

.yt-card{
    margin: 10px 0;
    border: 0;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.yt-card.yt-card-has-padding{
    padding: 15px;
}

.yt-card .yt-uix-button-expander{
    display: block;
    width: 100%;
    text-transform: uppercase;
    color: #777;
    border-top: 1px solid #e2e2e2;
    box-shadow: none;
}

.yt-card.yt-uix-expander.yt-uix-button-expander{
    margin: 10px 0 -15px;
}

.yt-pl-thumb{
    position: relative;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
}

.yt-pl-thumb-link{
    display: block;
    position: relative;
    text-align: left;
}

.yt-sprite{
    display: inline-block;
}

.yt-thumb{
    overflow: hidden;
    background: #f1f1f1;
    font-size: 0;
    vertical-align: middle;
    display: inline-block;
}

.yt-thumb .vertical-align{
    height: 100%;
}

.yt-thumb-48{
    width: 48px;
}

.yt-thumb-clip{
    position: absolute;
    bottom: -100px;
    top: -100px;
    left: -100px;
    right: -100px;
    text-align: center;
    white-space: nowrap;
    word-break: normal;
}

.yt-thumb-clip .vertical-align{
    display: inline-block;
    vertical-align: middle;
}

.yt-thumb-square{
    padding-bottom: 100%;
}

.yt-thumb-square{
    display: block;
    height: auto;
}

.yt-ui-menu-content{
    background: #fff;
    border: 1px solid #d3d3d3;
    outline: none;
    overflow: visible;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
}

.yt-uix-button{
    display: inline-block;
    height: 28px;
    border: solid 1px transparent;
    padding: 0 10px;
    outline: 0;
    font-weight: bold;
    font-size: 11px;
    text-decoration: none;
    white-space: nowrap;
    word-wrap: normal;
    line-height: normal;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.05);
}

.yt-uix-button-arrow{
    margin-top: -3px;
    margin-left: 5px;
    border: 1px solid transparent;
    border-top-color: #333;
    border-width: 4px 4px 0;
    width: 0;
    height: 0;
}

.yt-uix-button-content{
    vertical-align: middle;
}

.yt-uix-button .yt-uix-button-arrow, .yt-uix-button .yt-uix-button-icon{
    display: inline-block;
    vertical-align: middle;
}

.yt-uix-button-default{
    border-color: #d3d3d3;
    background: #f8f8f8;
    color: #333;
}

.yt-uix-button-default:before{
    opacity: .5;
    filter: alpha(opacity=50);
}

.yt-uix-button-default .yt-uix-button-icon{
    opacity: .5;
    filter: alpha(opacity=50);
}

.yt-uix-button-empty .yt-uix-button-arrow{
    margin-left: 0;
}

.yt-uix-button-empty .yt-uix-button-icon-wrapper{
    max-height: none;
    max-width: none;
}

.yt-uix-button-empty .yt-uix-button-icon-wrapper, .yt-uix-button-empty.yt-uix-button-has-icon.no-icon-markup:before{
    margin-right: 0;
}

.yt-uix-button-group{
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
}

.yt-uix-button-has-icon:before{
    content: '';
    display: inline-block;
    vertical-align: middle;
}

.yt-uix-button-has-icon.no-icon-markup:before{
    margin-right: 6px;
}

.yt-uix-button-has-icon.no-icon-markup .yt-uix-button-content{
    vertical-align: middle;
}

.yt-uix-button-icon-appbar-guide{
    background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflZjw0oc.webp) -62px -46px;
    background-size: auto;
    width: 16px;
    height: 16px;
}

.yt-uix-button-icon-wrapper{
    display: inline-block;
    font-size: 0;
    vertical-align: middle;
}

.yt-uix-button-icon-wrapper{
    margin-right: 6px;
}

.yt-uix-button-icon-wrapper+.yt-uix-button-content{
    vertical-align: middle;
}

.yt-uix-button-group .yt-uix-button{
   margin-right: -1px;
   border-radius: 0;
}

.yt-uix-button-opacity{
    opacity: .5;
    filter: alpha(opacity=50);
}

.yt-uix-button-opacity{
    box-shadow: none;
}

.yt-uix-button-primary{
    border-color: #167ac6;
    background: #167ac6;
    color: #fff;
}

.yt-uix-button-subscription-container{
    max-width: 100%;
    white-space: nowrap;
    display: inline-block;
}



.yt-subscription-button-subscriber-count-branded-horizontal{
    padding: 0 6px;
    height: 22px;
    color: #777;
    font-size: 11px;
    text-align: center;
    line-height: 22px;
}

.yt-subscription-button-subscriber-count-branded-horizontal{
    display: none;
    margin-left: -2px;
    border: 1px solid #ccc;
    background-color: #fafafa;
    vertical-align: middle;
    border-radius: 0 2px 2px 0;
}

.yt-uix-button-subscribe-branded{
    color: #fefefe;
    background-color: #e62117;
}

.yt-uix-button-subscribe-branded:before{
    background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflZjw0oc.webp) -85px -172px;
    background-size: auto;
    width: 16px;
    height: 12px;
}


.yt-uix-button-subscribe-branded .subscribe-label{
    display: inline;
}

.yt-uix-button-subscribe-branded .yt-uix-button-content{
    font-size: 12px;
    font-weight: normal;
}

.yt-uix-button-subscribe-branded .yt-uix-button-content{
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}


.yt-uix-button-subscribe-branded+.yt-subscription-button-subscriber-count-branded-horizontal{
    border-left-color: transparent;
}

.yt-uix-button-subscribe-branded+.yt-subscription-button-subscriber-count-branded-horizontal{
    display: inline-block;
}

.yt-uix-button-text{
    border: solid 1px transparent;
    outline: 0;
    background: none;
    color: #333;
    box-shadow: none;
}

.yt-uix-clickcard-target{
    cursor: pointer;
}

.yt-uix-clickcard-content{
    display: none;
}

.yt-uix-expander-collapsed #watch-description-text{
    max-height: 100px;
    overflow: hidden;
}

.yt-uix-expander-collapsed .yt-uix-expander-body{
    display: block;
}

.yt-uix-expander-collapsed .yt-uix-expander-body{
    display: none;
}

.yt-uix-expander-head{
    cursor: pointer;
    -webkit-user-select: none;
}

.yt-uix-menu{
    display: inline-block;
    position: relative;
}

.yt-uix-menu .yt-uix-menu-content{
    left: 100%;
    top: 0;
}

.yt-uix-menu-content{
    position: absolute;
    z-index: 2000000100;
}


.yt-uix-menu-content .yt-uix-menu, yt-uix-menu-trigger{
    width: 100%;
}
.yt-uix-menu-content-hidden{
    display: none;
}

/*.yt-uix-subscription-preferences-button{
    display: none;
    margin-left: -2px;
    padding: 0 4px;
    height: 24px;
    border-radius: 0 2px 2px 0;
}*/

.yt-uix-simple-thumb-related{
    height: 68px;
}

.yt-uix-simple-thumb-related>img{
    position: relative;
    top: -11px;
}

.yt-uix-simple-thumb-wrap{
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.yt-uix-subscription-preferences-button .yt-uix-button-icon-wrapper{
    height: 13px;
}

.yt-uix-tooltip{
    display: inline-block;
}

.yt-valign{
    white-space: nowrap;
}

.yt-valign:before{
    content: '';
    height: 100%;
}

.yt-valign:before{
    vertical-align: middle;
    display: inline-block;
}

.ytp-button{
    cursor: pointer;
    float: left;
    outline: 0 none;
}

.ytp-button-fullscreen-enter{
    background: no-repeat url(//s.ytimg.com/yts/imgbin/player-common-vfluJNmSn.webp) -63px -1066px;
    background-size: auto;
    width: 30px;
    height: 27px;
}

.ytp-button-fullscreen-enter{
    display: none;
    float: right;
}

.ytp-button-play{
    background: no-repeat url(//s.ytimg.com/yts/imgbin/player-common-vfluJNmSn.webp) -39px -1540px;
    background-size: auto;
    width: 55px;
    height: 27px;
}

.ytp-button-play{
    float: left;
}

.ytp-button-watch-later{
    float: right;
    background: no-repeat url(//s.ytimg.com/yts/imgbin/player-common-vfluJNmSn.webp) 0 -1571px;
    background-size: auto;
    width: 30px;
    height: 27px;
}

.ytp-button-volume{
    float: left;
}

.ytp-button-volume{
    display: inline-block;
    background: no-repeat url(//s.ytimg.com/yts/imgbin/player-common-vfluJNmSn.webp) -39px -124px;
    background-size: auto;
    width: 35px;
    height: 27px;
    box-shadow: none;
}


.ytp-force-transform{
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.ytp-menu-container{
    background-color: rgba(0,0,0,0);
    bottom: 27px;
    position: absolute;
    right: 10px;
    z-index: 800;
    outline: none;
}

.ytp-player-content{
    display: none;
}

.ytp-player-content{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 35px;
    -moz-transition: top .25s cubic-bezier(0.0,0.0,0.2,1),bottom .25s cubic-bezier(0.0,0.0,0.2,1);
    -webkit-transition: top .25s cubic-bezier(0.0,0.0,0.2,1),bottom .25s cubic-bezier(0.0,0.0,0.2,1);
    transition: top .25s cubic-bezier(0.0,0.0,0.2,1),bottom .25s cubic-bezier(0.0,0.0,0.2,1);
}

.ytp-progress-bar-container{
    display: block;
    position: relative;
    width: 100%;
    z-index: 840;
}

.ytp-progress-bar-padding{
    position: absolute;
    width: 100%;
    height: 4px;
    top: -4px;
    z-index: 928;
}

.ytp-progress-list{
    position: absolute;
    bottom: 0;
    width: 100%;
    -moz-transform: scaley(1);
    -ms-transform: scaley(1);
    -webkit-transform: scaley(1);
    transform: scaley(1);
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -moz-transition: -moz-transform .1s ease-out,background .15s;
    -webkit-transition: -webkit-transform .1s ease-out,background .15s;
    -ms-transition: -ms-transform .1s ease-out,background .15s;
    transition: transform .1s ease-out,background .15s;
}

.ytp-progress-list{
    z-index: 938;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAAAAADhZOFXAAAABGdBT…JJREFUCNdjEAUCWSBggDOUgEAKCBAMaSAQBgJUhgoQwBkA75AG2d7wpxsAAAAASUVORK5CYII=);
    height: 100%;
}

.ytp-scrubber-pull-indicator{
    display: block;
    position: absolute;
    z-index: 940;
    left: 3px;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.ytp-scrubber-pull-indicator::before{
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.ytp-scrubber-pull-indicator::before{
    display: block;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    opacity: 0;
    width: 6px;
    height: 6px;
    border-style: solid;
    border-width: 2px 0 0 2px;
    border-color: #eaeaea;
}

.ytp-scrubber-pull-indicator::after{
    display: block;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    opacity: 0;
    width: 6px;
    height: 6px;
    border-style: solid;
    border-width: 2px 0 0 2px;
    border-color: #eaeaea;
    -moz-transition: all .1s;
    -webkit-transition: all .1s;
    transition: all .1s;
}

.ytp-settings-button{
    background: no-repeat url(//s.ytimg.com/yts/imgbin/player-common-vfluJNmSn.webp) 0 -1719px;
    background-size: auto;
    width: 30px;
    height: 27px;
}

.ytp-settings-button{
    float: right;
}

.ytp-size-toggle-large{
    background: no-repeat url(//s.ytimg.com/yts/imgbin/player-common-vfluJNmSn.webp) 0 -1509px;
    background-size: auto;
    width: 30px;
    height: 27px;
}

.ytp-size-toggle-large{
    float: right;
}

.ytp-time-current{
    color: #fff;
}

.ytp-time-display{
    font-size: 11px;
    float: left;
    padding-left: 6px;
    line-height: 27px;
    color: #999;
}

.ytp-time-live-badge{
    display: none;
    margin-left: 8px;
    padding: 1px 4px;
    line-height: 1;
    font-size: 10px;
    color: #fff;
}

.ytp-unloaded-progress{
    z-index: 932;
    background: #444;
}

.ytp-unloaded-progress{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.ytp-volume-control{
    float: left;
    padding-right: 4px;
}

.ytp-volume-hover-area{
    float: left;
    display: inline-block;
}

.ytp-volume-panel{
    display: inline-block;
    width: 1px;
    overflow: hidden;
    -moz-transition: width .5s ease-out .2s;
    -webkit-transition: width .5s ease-out .2s;
    transition: width .5s ease-out .2s;
}

.ytp-volume-panel, .ytp-volume-slider{
    outline: 0 none;
}

.ytp-volume-slider{
    position: relative;
    display: block;
    height: 27px;
    width: 51px;
    float: left;
    margin: 0 6px 0 1px;
    padding: 0 3px 0 0;
    cursor: pointer;
    overflow: hidden;
}

.ytp-volume-slider-foreground{
    position: absolute;
    bottom: 6.5px;
    height: 14px;
    width: 5px;
    background: #ddd;
}

.ytp-volume-slider-foreground:before{
    position: absolute;
    top: 5px;
    left: -55px;
    display: block;
    width: 55px;
    height: 4px;
    background: #b91f1f;
    content: '';
}

.ytp-volume-slider-foreground:after{
    position: absolute;
    top: 5px;
    display: block;
    width: 55px;
    height: 4px;
    content: '';
    background: #777;
    left: 5px;
}